.image-modal {
  display: flex;
  min-width: 1150px;
  width: 100%;
  justify-content: center;
}

.image-modal-picture-div-holder {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  min-height: 450px;
  min-width: 450px;
  justify-content: center;
  align-content: center;
  background-color: black;
  align-items: center;
  justify-items: center;
}

.image-modal-picture-div {
  display: flex;
  max-height: 600px;
  max-width: 600px;
  width: fit-content;
  height: fit-content;
}

.modal-picture {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.image-modal-info-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 335px;
  background-color: white;
}

.image-modal-icons-div {
  display: flex;
}

.image-modal-info-user-div{
  display: flex;
  border-bottom: 1px solid rgb(239, 239, 239);
  width: 100%;
  min-height: 72px;
  max-height: 72px;
  align-items: center;
}

.image-modal-profile-pic-div{
  display: flex;
  max-width: 32px;
  max-height: 32px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  // border: 1px solid black;
  border-radius: 100px;
  margin-right: 16px;
  margin-left: 16px;
}

.modal-prof-pic {
  width: 100%;
  height: 100%;
}

.image-modal-username-comment-div {
  display: inline-block;
}

.image-modal-username-div {
  display: inline-flex;
  margin-right: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.image-modal-user-actions-div {
  margin-left: auto;
  margin-right: 16px;
}

.image-modal-user-actions {
  cursor: pointer;
}

.image-modal-info-comments-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 32px);
}

.inner-comments-div{
  display: flex;
  padding-top: 22px;
  padding-right: 22px;
}

.caption-comment-span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.image-modal-info-actions-div{
  border-top: 1px solid rgb(239, 239, 239);
  border-bottom: 1px solid rgb(239, 239, 239);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 100px;
  height: 30%;
  padding: 6px 0px 16px 16px;
  box-sizing: border-box;
}

.image-modal-comment-div {
  display: flex;
  justify-content: space-between;
  min-height: 56px;
  padding-left: 16px;
  padding-right: 16px;
}

.image-modal-likes-div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.image-modal-timestamp-div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: rgb(153, 153, 153);
}

.comment-input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  border: none;
}

.post-comment-button {
  border: none;
  background-color: transparent;
  color: rgb(56, 149, 237);
  font-weight: 600;
  font-size: 14px;
}

.modal-icon {
  font-size: 28px;
  cursor: pointer;
  padding-right: 14px;
}

.modal-arrow {
    font-weight: 900;
    align-self: center;
    background-color: transparent;
    font-size: 40px;
    color: rgb(204, 204, 204);
    cursor: pointer;
}

.modal-arrow:first-child {
  margin-right: 12px;
}

.modal-arrow:last-child {
  margin-left: 12px;
}

