
.modal-background {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-child{
  display: flex;
  max-width: fit-content;
  max-height: fit-content;
  background-color: transparent;
}



