.main-feed-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
}

.main-feed-image-header {
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.main-feed-image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 614px;
    width: fit-content;
    height: fit-content;
}

.main-feed-img {
    max-height: 750px;
    min-width: 600px;
    max-width: 600px;
}