.main-feed-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
}

.main-feed-image-header {
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.main-feed-image-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 66%;
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
    margin-bottom: 60px;
}

.main-feed-img {
    width: 100%;
}

.main-feed-image-bottom {
    background-color: white; 
    box-sizing: border-box;
}

.main-feed-image-bottom, .main-feed-image-bottom-actions, .main-feed-image-likes {
    display: flex;
    width: 100%;  
}

.main-feed-image-bottom-actions, .main-feed-image-likes, .main-feed-caption, .main-feed-comment-div, .main-feed-timestamp {
    padding: 0px 16px 0px 16px; 
    box-sizing: border-box;
}

.main-feed-image-bottom {
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

.main-feed-image-bottom-actions {
    margin: 4px 0px 4px 0px;
}

.main-feed-image-likes {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
}

.main-feed-caption {
    display: inline-block;
}

.main-feed-caption-username {
    display: inline-flex;
    margin-right: 4px;
    font-weight: 600;
}

.main-feed-timestamp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #999999;
}

.main-feed-comment-div {
    display: flex;
    justify-content: space-between;
    min-height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid rgb(230, 230, 230);
}