.main-footer{
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-nav-div {
  display: flex;
  width: 100%;
}

.footer-nav {
  display: flex;
  width: 100%;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-link {
  margin-right: 10px;
}

.copyright {
  display: flex;
}