button {
  background-color: rgb(56, 145, 237);
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 100%;
  max-height: 29px;
  min-width: 258px;
  padding: 5px 9px;
  box-sizing: border-box;
}

.button-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 8px 40px 6px;
}

.download-img {
  max-width: 136px;
  max-height: 40px;
  margin-left: 4px;
  margin-right: 4px;
}

.link {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: rgb(56, 149, 237);
  text-decoration: none;
}