/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "base/reset.scss";

html, body {
  height: 100%;
}
 
#root {
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: rgb(250, 250, 250);
}
 
.app {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  max-height: 540px;
  border: 1px solid rgb(230, 230, 230);
  margin-top: 12px;
  background-color: white;
}
/* possible inhert on display, align, flex direcion */

.form-holder-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 258px;
}
/* possible inhert on display, align, flex direcion */

.signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 350px;
  min-width: 350px;
  height: 100%;
}
/* possible inhert on display, align, flex direcion */

.signup-div {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  justify-content: center;
  border-bottom: 6px solid transparent;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

input {
  background-color: rgb(250, 250, 250);
  border: 0;
  box-sizing: border-box;
  min-height: 36px;
  padding: 9px 0 7px 8px;
  min-width: 258px;
  max-width: 350px;
  width: 100%;
  border: #efefef 1px solid;
}
/* possible inheritance on line-height, background color */

label {
  position: relative;
}

.inactive-span {
  z-index: 1;
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: rgb(153, 153, 153);
  left: 8px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  top: 12px;
}

.active-span{
  z-index: 1;
  pointer-events: none;
  user-select: none;
  position: absolute;
  color: rgb(153, 153, 153);
  left: 8px;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  top: 3px;
}

.button-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 8px 40px 6px;
}

button {
  background-color: rgb(56, 145, 237);
  color: white;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 100%;
  max-height: 29px;
  min-width: 258px;
  padding: 5px 9px;
  box-sizing: border-box;
}





 /* 
html{
  height: 100%;
}

body {
  display: block;
  height: 100%;
}

#root {
  border: 0 solid #000;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  z-index: 0;
  background-color: rgba(var(--b3f,250,250,250),1);
}

.app{
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100%;

}

.form-article {
  display: flex;
  flex-direction: row;
  max-width: 935px;
  width: 100%;
  align-items: stretch;
  box-sizing: border-box;
  justify-content: center;
}

.form-article-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  max-width: 350px;
  width: 100%;
}

header > h1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.signup {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: center;
  max-width: 350px;
}

.signup > h2 {
  text-align: center;
}

.signup > div{
  display: flex;
  justify-content: center;
}

.input-span{
    color: #999;
    font-size: 12px;
    height: 36px;
    left: 8px;
    line-height: 36px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    transform-origin: left;
    transition: transform ease-out .1s;
    transition: transform ease-out .1s,-webkit-transform ease-out .1s;
    user-select: none;
    white-space: nowrap;
}

 */
